<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesht.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesht">
    <title>Login landing page</title>
</head>
<body>
    <section class="main">
        <div class="login-container">
            <p class="title">Welcome back</p>
            <div class="separator"></div>
            <p class="welcome-message">Please, provide login credential to proceed and have access to all our services</p>
                {% with messages = get_flashed_messages(category_filter=['error']) %}
                    {% if messages %}
                        <div class="flash-messages">
                            {% for message in messages %}
                                <div class="flash-message error">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}">
            </script>
            <form class="login-form" action="{{url_for('login')}}" method="post">
                <div class="form-control">
                    <input type="text" placeholder="Email" id="username" name="username">
                    <i class="fas fa-user"></i>
                </div>
                <div class="form-control">
                    <input type="password" placeholder="Password" id="passw" name="passw">
                    <i class="fas fa-lock"></i>
                </div>
                <button class="submit" type="submit">Login</button>
            </form>
            <p class="reg">If you don't have an account,please register,<a href="{{url_for('registration')}}">click here</a></p>
        </div>
    </section>

</body>
</html>